<article>
  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-meta clearfix">
      <div class="post-date">
        Опубликовано:
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "02-01-2006" }}
        </time>
      </div>
      {{ if (or (isset .Params "cost") (isset .Params "mileage")) }}
        <div class="post-params">
        {{ with .Params.cost }}
          <div class="post-cost">
            Потрачено: {{ . }} руб.
          </div>
        {{ end  }}
        {{ with .Params.mileage }}
          <div class="post-mileage">
            Пробег: {{ . }} км.
          </div>
        {{ end  }}
        </div>
      {{ end }}
    </div>
  </header>
  <div class="article_summary">
    {{ .Summary }}
  </div>
  {{ if .Truncated }}
  <footer>
    <ul class="pager">
      <li class="next"><a href="{{ .Permalink }}">Читать дальше <span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </footer>
  {{ end }}
</article>
